.container {
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 100vh;
  flex-wrap: wrap;
}

.title {
  font-family: "Press Start 2P", cursive;
  font-size: 2.1rem;
  text-align: center;
}

.description {
  text-align: center;
  max-width: 40rem;
}

.action {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  cursor: pointer;
  border: 2px solid gray;
  background: none;
  font-weight: 700;
  font-size: 1rem;
}
